@import url("../style.css");


.site_ergo_main {
    width: 80%;
    margin: auto;
    margin-top: 2%;
    color: black;
    font-family: 'Montserrat', sans-serif;

}


.project {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-right: 20%;
    background: var(--third_color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    height: auto;
}

.project_link {
    margin-top: 10px;
}

.project_link a {
    text-decoration: none;
    font-weight: bold;
    color: var(--third_color);
    transition: all 0.3s ease;
    
    

}

.project_link a:hover {
    padding-left: 5px;
    color: #3A78C2;
}
    
