@import url("../../style.css");


.project_main {
    width: 80%;
    margin: auto;
    margin-top: 2%;
    color: black;
    font-family: 'Montserrat', sans-serif;

}


.project {
    display: flex;
    background-color: var(--second_color);
    border-radius: 10px;
    align-items: center;
    margin-top: 20px;
    margin-right: 30%;
    margin-bottom: 40px;
    border: 2px solid black;
    transition: transform 0.2s ease-in-out;
    overflow: hidden;

}



.project_link {
    margin-top: 10px;
}

.project_link a {
    text-decoration: none;
    font-weight: bold;
    color: var(--third_color);
    transition: all 0.3s ease;
    
    

}

.project_link a:hover {
    padding-left: 5px;
    color: #3A78C2;
}
    
