@import url("../../style.css");


.project_main {
    width: 80%;
    margin: auto;
    margin-top: 2%;
    color: black;
    font-family: 'Montserrat', sans-serif;

}




.texte {
    width: 80%;
}

.project_link {
    margin-top: 10px;
}



.project img {
  width: 200px;
  height: auto;
  object-fit: contain;
  background: white;
  padding: 10px;
  max-height: 150px;
  object-fit: contain;
}


.project_link a {
    text-decoration: none;
    font-weight: bold;
    color: var(--third_color);
    transition: all 0.3s ease;
    
    

}

.project_link a:hover {
    padding-left: 5px;
    color: #3A78C2;
}
    
