footer {

    margin-top: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    background-color: rgba(10, 15, 62, 1);
    min-height: 60px;
    align-items: flex-start;
    justify-content: space-around;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.25);
    

}

.info {

    display: flex;
    gap: 10px;
    flex-direction: column;
    

}

footer a:hover {

    color: var(--text_color);

}

footer span {
    color: #fbfbfe;
}

footer p {
    margin: 0;
}

